/* App.css */

/* Global styles */
body {
  background-color: #141b33; /* Dark navy background */
  color: white; /* Gold text color */
  font-family: 'Dancing Script'; /* Corrected font family declaration */
  text-shadow: 1px 1px 1px #17151c;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  padding: 20px;
  display: flex;
  justify-content: flex-end; /* Align header content to the right */
  background-color: #141b33; /* Dark navy background */
  border-bottom: 1px solid white; /* Add a horizontal pinstripe */
}

.side-menu {
  background-color: #0a1444; /* Slightly darker blue background */
  width: 200px;
  padding: 20px;
}

.side-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-menu li {
  padding: 10px 0;
  border-top: 1px solid white; /* White pinstripe art deco style outlines */
}

.content-container {
  flex: 3;
}

/* Section styling */
.section {
  padding: 50px 0;
  border-bottom: 1px solid white; /* Add a horizontal pinstripe */
}

/* Content within sections */
.content {
  max-width: 800px;
  margin: 0 auto;
}

/* Image styling */
.cake-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 10px #ffffff;
}

/* Media query for tablets */
@media screen and (max-width: 768px) {
  .App {
    flex-direction: column;
  }

  .side-menu {
    width: 100%;
    padding: 10px;
  }

  .section {
    padding: 30px 0;
  }

  .cake-image {
    max-width: 90%;
  }

  .toggle-button {
    display: block; /* Show the button on mobile devices */
  }

  .logo {
    width: 150px; /* Adjust the width of the logo for mobile */
  }
}

/* Media query for mobile devices */
@media screen and (max-width: 480px) {
  .App-header {
    flex-direction: column;
    align-items: center;
  }

  .side-menu {
    width: 100%;
    padding: 10px;
  }

  .content-container {
    padding: 10px;
  }

  .section {
    padding: 20px 0;
  }

  .cake-image {
    max-width: 100%;
  }

  .logo {
    width: 120px; /* Adjust the width of the logo for smaller screens */
  }
}

/* Hamburger button styles */
.toggle-button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.hamburger-container {
  position: absolute;
  top: 20px; /* Adjust the top position as needed */
  right: 20px; /* Position to the right side of the screen */
}

.logo {
  width: 250px; /* Adjust the width of the logo */
  height: auto;
}
